.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: calc(100% - 64px);
	height: 56px;
	padding: 0 32px;
}

.header h3 {
	font-size: 18px;
	color: rgb(181, 34, 110);
}

.header__dropdown {
	height: 32px;
	border: solid 2px rgb(181, 34, 110);
	border-radius: 7px;
}

.header__dropdown label {
	font-size: 10px;
	margin: 0 8px;
}

select {
	
	height: 32px;
	background-color:  rgb(181, 34, 110);
	color: white;
	padding-left: 5px; 
	border: 0;
}
